.swiper {
    width: 800px;
}

.swiper-slide img {
    width: 800px;
    height: 400px;
    object-fit: cover;
    border-radius: 8px;
}

.swiper-button-prev,
.swiper-button-next {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    color: blue;
}