/* 요일 */
.rdp-weekday {
  font-size: 17px;
  font-weight: 700;
}

/* 날짜 버튼 기본 */
.rdp-day_button {
  font-size: 18px;
  cursor: pointer;
  border-radius: 50%;
}

/* hover */
.rdp-day_button:hover {
  background-color: #ffe3e3;
}

/* 오늘 날짜 */
.rdp-today .rdp-day_button {
  border: 2px solid #b8dfc9;
  background-color: #cfffe559;
  color: #8dd1a9;
  font-weight: 700;
}

/* 선택된 날짜 */
.rdp-selected .rdp-day_button {
  border: 2px solid #ffc0c0;
  background-color: #ffdada;
  color: white;
}

/* 선택 + hover */
.rdp-selected .rdp-day_button:hover {
  background-color: #ffc0c0;
}

/* focus 테두리 제거 */
.rdp-day_button:focus,
.rdp-day_button:focus-visible {
  outline: none;
  box-shadow: none;
}

/* 월 이동 버튼 (< >) */
.rdp-button_previous,
.rdp-button_next {
  color: #ff7a7a;
}

.rdp-button_previous:hover,
.rdp-button_next:hover {
  background-color: rgba(255, 122, 122, 0.15);
}

/* 화살표 아이콘 */
.rdp-chevron {
  fill: #ff7a7a;
}